form {
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

input, select, fieldset {
	margin-bottom: .75rem;
} 

th {text-align: left; vertical-align: top;}

tr:nth-child(even) {
	background: #CCC;
}

td {
	padding-left: 2rem;
}

table { border-collapse: collapse; }

table p {
	margin: 0;
}

.container {
	margin: 0 auto;
	max-width: 800px;
}