@page
@model WebApp.Pages.ContactUsModel
@{
}

<h1>Contact Us</h1>

<form action="/" method="post" enctype="multipart/form-data">
    <label>Your Resume
        <input type="file" />
    </label>
    <button type="submit">Upload File</button>
</form>