body {
	max-width: 800px;
	margin: 0 auto;
}

header {
	max-width: 400px;
	margin: 0 auto;
}

.errors {
	max-width: 400px;
	margin: 0 auto;
	color: red;
}

form {
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}